{% extends "base.html" %}
{% load i18n %}
{% block navigation %}
    <nav>
        <ul>
            <li><a href="{% url 'heroes_list' %}">герои</a></li>
            <li><a href="{% url 'books_list' %}">книги</a></li>
            <li class="active">карты</li>
            <li><a href="{% url 'races_list' %}">расы</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-md-8 pull-right">
            <form id="create_eptitude_form" action="{{ request.get_full_path }}" method="post" >
            <h2>{% trans 'Edit Eptitude' %}</h2>
            <div>карта: {{ card.title }}</div>
            <div>описание: {{ card.description }}</div>
            {% csrf_token %}
            {% include "partials/form_fields.html" %}
            <button name="edit_eptitude_submit" type="submit" value="Edit Eptitude" class="btn btn-large btn-primary" >{% trans 'Save' %}</button>
       </form>
        </div>
    </div>
{% endblock %}